In [4]:
import pandas as pd
df1 = pd.read_csv('c:/data/convenience/origin/residence.csv', encoding='ANSI')
df2 = pd.read_csv('c:/data/convenience/origin/apartment.csv', encoding='ANSI')
df3 = pd.read_csv('c:/data/convenience/origin/openclose.csv', encoding='ANSI')
df4 = pd.read_csv('c:/data/convenience/origin/worker.csv', encoding='ANSI')
df5 = pd.read_csv('c:/data/convenience/origin/facilities.csv', encoding='ANSI')
df6 = pd.read_csv('c:/data/convenience/origin/sales.csv', encoding='ANSI')
df7 = pd.read_csv('c:/data/convenience/origin/population.csv', encoding='ANSI')
cluster = pd.read_csv('c:/data/convenience/temp/cluster.csv', encoding='ANSI')

In [5]:
cols=['기준년코드', '기준분기코드', '상권코드', '총상주인구수', '남성상주인구수', '여성상주인구수', '연령대10상주인구수', '연령대20상주인구수', '연령대30상주인구수', '연령대40상주인구수', '연령대50상주인구수', '연령대60이상상주인구수', '총가구수', '아파트가구수', '비아파트가구수']
residence = df1[cols]

In [6]:
cols=['기준년코드', '기준분기코드', '상권코드', '아파트평균시가']
apartment = df2[cols]

In [7]:
cols=['기준년코드', '기준분기코드', '상권코드', '점포수', '유사업종점포수', '개업율', '개업점포수', '폐업률', '폐업점포수', '프랜차이즈점포수']
openclose = df3[cols]

In [8]:
cols=['기준년코드', '기준분기코드', '상권코드', '총직장인구수', '남성직장인구수', '여성직장인구수', '연령대10직장인구수', '연령대20직장인구수', '연령대30직장인구수', '연령대40직장인구수', '연령대50직장인구수', '연령대60이상직장인구수']
worker = df4[cols]

In [9]:
df5 = df5.fillna(0)
#유사시설 파생변수로 종합
df5['의료기관'] = df5['종합병원수'] + df5['일반병원수']
df5['교육기관'] = df5['유치원수'] + df5['초등학교수'] + df5['중학교수'] + df5['고등학교수'] + df5['대학교수']
df5['대중교통'] = df5['철도역수'] + df5['버스터미널수'] + df5['지하철역수'] + df5['버스정거장수']
cols=['기준년코드', '기준분기코드', '상권코드', '관공서수', '은행수', '약국수', '백화점수', '극장수', '숙박시설수', '의료기관', '교육기관', '대중교통']
facilities = df5[cols]

In [10]:
cols=['기준년코드', '기준분기코드', '상권코드', '월매출평균']
sales=df6[cols]

In [11]:
cols=['기준년코드', '기준분기코드', '상권코드', '총유동인구수', '남성유동인구수', '여성유동인구수', '연령대10유동인구수', '연령대20유동인구수', '연령대30유동인구수', '연령대40유동인구수', '연령대50유동인구수', '연령대60이상유동인구수']
population = df7[cols]

In [12]:
from functools import reduce
#모든 csv파일 병합
df_list = [residence, apartment, openclose, worker, facilities, population, sales] 
df = reduce(lambda left, right: pd.merge(left, right, on=['기준년코드', '기준분기코드', '상권코드']), df_list)

In [13]:
temp1 = df[['상권코드', '개업점포수', '폐업점포수']].groupby(by='상권코드').sum()
df = df.drop(['기준년코드', '기준분기코드', '개업점포수', '폐업점포수'], axis=1)
temp2 = df.groupby(by='상권코드').mean()
df = pd.concat([temp1, temp2], axis=1)

In [14]:
df = pd.merge(df, cluster, on='상권코드').set_index('상권코드')

In [15]:
df.to_csv('c:/data/convenience/temp/df_merge.csv', encoding='ANSI')